body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  background-color: white;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

ul {
  padding: 0;
}

ul li {
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Formularios */
form {
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .galeria img {
    width: 100%;
    height: auto;
  }

  form {
    display: block;
    width: 100%;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }

  .galeria {
    grid-template-columns: 1fr;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  input, textarea {
    padding: 12px;
  }
}
